.navbarContainer {
  position: fixed;
  top: 0;
  height: 85px;
  background-color: var(--header-background);
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 10;
}

.navbarInner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.navbarItems {
  align-items: center;
  display: flex;
  flex: 1;
  min-width: 0;
}

.navbarBrand {
  margin: 10px 10px 10px 25px;
}

.navbarItems h1 {
  padding: 0.25rem 0.75rem;
  text-wrap: nowrap;
}