.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--white);
    display: flex;
    flex-direction: column;
    z-index: 1000;
}

.content {
    background: rgba(var(--foreground-rgb), 0.1);
    display: flex;
    flex: 1;
    flex-direction: row;
    overflow-y: auto;
    color: inherit;
}

.canvasContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    position: relative;
}

@media (prefers-color-scheme: dark) {
    .overlay {
        background-color: var(--black);
    }
}