.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 450px;
    border: 1px solid rgba(var(--foreground-rgb), 0.5);
    margin: 0 auto;
    padding: 10px;
    border-radius: var(--border-radius-large);
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 10px 0;
}

.header h1 {
    margin-left: 5px;
}

.container p {
    padding-bottom: 10px;
}

.text {
    font-size: 18px;
}

.container ul {
    margin-left: 20px;
}