:root {
  --border-radius-small: 4px;
  --border-radius-large: 12px;
  --border-radius-50: 50%;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  --foreground-rgb: 0, 0, 0;
  --black: #000;
  --header-background: #efefef;
  --image-container-background: #f0f0f0;
  --white: #fff;
  --primary-color: #ea5906;
  --primary-color-rgb: 234, 89, 6;
  --secondary-color: #d35005;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
  --select-background: #f5f5f5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-gradient: linear-gradient(to right,
        #000,
        #333333,
        #000);
    --header-background: #000;
    --primary-color: #ea5906;
    --secondary-color: #d35005;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
    --select-background: #000;
  }
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color: rgb(var(--foreground-rgb));
  font-family: var(--font-mono);
  background: var(--white);
}

a {
  color: var(--primary-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: var(--secondary-color);
}

.chevron {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-style: solid;
  border-width: 0.15rem 0.15rem 0 0;
  transform: rotate(-45deg);
  transition: transform 0.3s ease;
  margin-right: 1rem;
}

.chevron.open {
  transform: rotate(135deg);
}

.no-scroll {
  overflow: hidden;
}



@media (prefers-color-scheme: dark) {
  body {
    background: var(--background-gradient);
  }
}