.main {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    padding-top: 50px;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 6rem;
    min-height: 100vh;
    width: calc(100% - 100px);
    margin: 0 auto;
}
