.canvas {
    width: 50vw;
    height: 100%;
}

.canvas:nth-of-type(2) {
    border-left: 1px solid rgba(var(--foreground-rgb), 0.5);
}


@keyframes highlightAnimation {
    0% {
        width: 20px;
        height: 20px;
        opacity: 1;
    }

    100% {
        width: 100px;
        height: 100px;
        opacity: 0;
    }
}

.highlight-circle {
    position: absolute;
    border-radius: var(--border-radius-50);
    background-color: rgba(var(--primary-color-rgb), 1);
    pointer-events: none;
    animation: highlightAnimation 1s forwards;
    transform: translate(-50%, -50%);
}