.card {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid rgba(var(--foreground-rgb), 0.5);
    border-radius: var(--border-radius-large);
    overflow: hidden;
}

.card:hover {
    background: rgba(var(--card-rgb), 0.2);
    border: 1px solid rgba(var(--card-border-rgb), 0.3);
    cursor: pointer;
}

.card span {
    display: inline-block;
    transition: transform 200ms;
}

.card:hover span {
    transform: translateX(4px);
}

.card h4 {
    font-weight: 600;
    margin-bottom: 0.7rem;
}

.card p {
    margin: 0;
    opacity: 0.6;
    font-size: 0.9rem;
    line-height: 1.5;
    max-width: 30ch;
    text-wrap: balance;
}

.imageContainer {
    position: relative;
    width: 100%;
    padding-top: 100%;
    overflow: hidden;
    background-color: var(--image-container-background);
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageContainer img {
    object-fit: contain;
}

.instanceData {
    width: 100%;
    flex: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.browserIcon {
    margin-left: 0.5rem;
}